<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bouteille.css">
    <title>Liste des Bouteilles</title>
</head>
<body>


    
    <div class="section1">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 id="bottleName" class="title"></h2>
                    <img id="bottleImage" src="" alt="Image de la bouteille" class="bottle-image">
                </div>
                <div class="flip-card-back">
                    <div id="bottleDisplay">
                        <!-- L'affichage de la bouteille sélectionnée sera inséré ici -->
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="bottle-shelves">
        <h3>bouteille de l'étagère ...</h3>
        {% for bottle in bottles %}
        <div class="bottle">
            <h2>{{ bottle[2] }}</h2> <!-- Nom de la bouteille -->
            <img src="{{ bottle[10] }}" alt="{{ bottle[2] }}" class="bottle-image"> <!-- URL de l'image de la bouteille -->
        </div>
        {% endfor %}
        </div>

   
    </div>
    
    <button class="pushable" onclick="showPreviousBottle()">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">Previous</span>
    </button>

    <button class="pushable" onclick="showNextBottle()">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">Next</span>
    </button>
    


    <h1>Ajouter une Bouteille</h1>
    <form action="/ajouter_bouteille" method="POST" enctype="multipart/form-data" class="formulaire">
        <div>
            <label for="winery">Vignoble :</label>
            <input type="text" id="winery" name="winery" required>
        </div>
        <div>
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="type">Type :</label>
            <input type="text" id="type" name="type" required>
        </div>
        <div>
            <label for="year">Année :</label>
            <input type="number" id="year" name="year" required>
        </div>
        <div>
            <label for="region">Région :</label>
            <input type="text" id="region" name="region" required>
        </div>
        <div>
            <label for="comments">Commentaires :</label>
            <textarea id="comments" name="comments"></textarea>
        </div>
        <div>
            <label for="personal_rating">Note personnelle :</label>
            <input type="number" id="personal_rating" name="personal_rating" step="0.1">
        </div>
        <div>
            <label for="community_rating">Note communautaire :</label>
            <input type="number" id="community_rating" name="community_rating" step="0.1">
        </div>
        <div>
            <label for="label_photo">Photo de l'étiquette :</label>
            <input type="text" id="label_photo" name="label_photo">
        </div>
        <div>
            <label for="price">Prix :</label>
            <input type="number" id="price" name="price" step="0.01" required>
        </div>
        <!-- Menu déroulant pour choisir l'étagère -->
        <div>
            <label for="shelf_id">Choisir une étagère :</label>
            <select id="shelf_id" name="shelf_id">
                {% for shelf in shelves %}
                <option value="{{ shelf[0] }}">{{ shelf[1] }}</option> <!-- shelf[0] correspond à shelf_id, shelf[1] correspond à shelf_number -->
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">Ajouter Bouteille</button>
        </div>
    </form>

    <script>
        var bottles = {{ bottles | tojson }};
        var currentBottleIndex = 0;

        function showNextBottle() {
            if (currentBottleIndex < bottles.length) {
                var currentBottle = bottles[currentBottleIndex];
                displayBottle(currentBottle);
                currentBottleIndex++;
            } else {
                alert("Vous avez atteint la dernière bouteille.");
            }
        }

        function showPreviousBottle() {
            if (currentBottleIndex > 0) {
                currentBottleIndex--;
                var currentBottle = bottles[currentBottleIndex];
                displayBottle(currentBottle);
            } else {
                alert("Vous êtes déjà à la première bouteille.");
            }
        }

        function displayBottle(bottle) {
            var bottleHtml = `
                <div class="bottle-container">
                    <p><strong>Vignoble :</strong> ${bottle[2]}</p> <!-- Nom du vignoble -->
                    <p><strong>Type :</strong> ${bottle[4]}</p> <!-- Type de vin -->
                    <p><strong>Année :</strong> ${bottle[5]}</p> <!-- Année -->
                    <p><strong>Région :</strong> ${bottle[6]}</p> <!-- Région -->
                    <p><strong>Commentaires :</strong> ${bottle[7]}</p> <!-- Commentaires -->
                    <p><strong>Note personnelle :</strong> ${bottle[8]}</p> <!-- Note personnelle -->
                    <p><strong>Note communautaire :</strong> ${bottle[9]}</p> <!-- Note communautaire -->
                    <p><strong>Prix :</strong> ${bottle[11]}</p> <!-- Prix -->
                </div>
            `;

            document.getElementById("bottleDisplay").innerHTML = bottleHtml;
            bottleImage.src = bottle[10];
            bottleName.textContent = bottle[3];
            
            
        }

        // Afficher la première bouteille au chargement de la page
        if (bottles.length > 0) {
            displayBottle(bottles[0]);
            currentBottleIndex = 1;
        }
    </script>
</body>
</html>
