<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>Inscription</title>
</head>
<body>
    <form action="/signup" method="POST">
        <div class="box">
            <div class="container">
                <div class="top-header">
                    <img src="../static/images/wine.jpeg" alt="Logo" class="logo">
                    <header> WELCOME !</header>
                </div>

                <div class="input-field">
                    <input type="text" class="input" placeholder="username" id="username" name="username" required>
                    <i class="bx bx-user"></i>
                </div>

                <div class="input-field">
                    <input type="password" class="input" placeholder="password" id="password" name="password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-field">
                    <input type="submit" class="submit" value="Registration">
                </div>

                <div class="bottom">
                    <div class="left">
                        <input type="checkbox" id="check" required>
                        <label for="check">I accept the terms</label>
                    </div>
                    <div class="right">
                        <label><a href="{{ url_for('database_info') }}">database info</a></label>
                        <label><a href="{{ url_for('accueil') }}">/ accueil</a></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
